@import 'utilities/variables';

:export {
  dark: map-get($colors, dark);
  darkBackground1: map-get($colors, dark-background-1);
  darkBackground2: map-get($colors, dark-background-2);
  darkBackground3: map-get($colors, dark-background-3);
  darkBackground4: map-get($colors, dark-background-4);
  darkBackground5: map-get($colors, dark-background-5);
  darkLighten1: map-get($colors, dark-lighten-1);
  darkLighten2: map-get($colors, dark-lighten-2);
  darkLighten3: map-get($colors, dark-lighten-3);
  darkLighten4: map-get($colors, dark-lighten-4);
  darkLighten5: map-get($colors, dark-lighten-5);
  error: map-get($colors, error);
  fontSizeLarge: map-get($font-size, large);
  fontSizeNormal: map-get($font-size, normal);
  fontSizeSmall: map-get($font-size, small);
  fontSizeXLarge: map-get($font-size, x-large);
  fontSizeXSmall: map-get($font-size, x-small);
  gray1: map-get($colors, gray-1);
  gray2: map-get($colors, gray-2);
  gray3: map-get($colors, gray-3);
  gray4: map-get($colors, gray-4);
  iconSizeLarge: map-get($icon-size, large);
  iconSizeNormal: map-get($icon-size, normal);
  iconSizeSmall: map-get($icon-size, small);
  iconSizeXLarge: map-get($icon-size, x-large);
  iconSizeXSmall: map-get($icon-size, x-small);
  inputBackground: map-get($colors, input-background);
  integrator: map-get($colors, integrator);
  light1: map-get($colors, light1);
  marginSizeLarge: map-get($margins, large);
  marginSizeNormal: map-get($margins, normal);
  marginSizeSmall: map-get($margins, small);
  marginSizeXLarge: map-get($margins, x-large);
  marginSizeXSmall: map-get($margins, x-small);
  neutral: map-get($colors, neutral);
  neutralLighten1: map-get($colors, neutral-lighten-1);
  neutralLighten2: map-get($colors, neutral-lighten-2);
  neutralLighten3: map-get($colors, neutral-lighten-3);
  neutralLighten4: map-get($colors, neutral-lighten-4);
  neutralLighten5: map-get($colors, neutral-lighten-5);
  paddingSizeLarge: map-get($paddings, large);
  paddingSizeNormal: map-get($paddings, normal);
  paddingSizeSmall: map-get($paddings, small);
  paddingSizeXLarge: map-get($paddings, x-large);
  paddingSizeXSmall: map-get($paddings, x-small);
  primary: map-get($colors, primary);
  primaryLighten1: map-get($colors, primary-lighten-1);
  primaryLighten2: map-get($colors, primary-lighten-2);
  primaryLighten3: map-get($colors, primary-lighten-3);
  primaryLighten4: map-get($colors, primary-lighten-4);
  primaryLighten5: map-get($colors, primary-lighten-5);
  primaryText: map-get($colors, primary-text);
  secondary: map-get($colors, secondary);
  secondaryLighten1: map-get($colors, secondary-lighten-1);
  secondaryLighten2: map-get($colors, secondary-lighten-2);
  secondaryLighten3: map-get($colors, secondary-lighten-3);
  secondaryLighten4: map-get($colors, secondary-lighten-4);
  secondaryLighten5: map-get($colors, secondary-lighten-5);
  success: map-get($colors, success);
  survey: map-get($colors, survey);
  tertiary: map-get($colors, tertiary);
  tertiaryLighten1: map-get($colors, tertiary-lighten-1);
  tertiaryLighten2: map-get($colors, tertiary-lighten-2);
  tertiaryLighten3: map-get($colors, tertiary-lighten-3);
  tertiaryLighten4: map-get($colors, tertiary-lighten-4);
  tertiaryLighten5: map-get($colors, tertiary-lighten-5);
  warning: map-get($colors, warning);
}
